<div style="clear:both;"></div>
	        <div id="footer">
	        	<div id="topfooter">
	        		<div class="topfooter">
	        			<h2>Design & Engineering</h2>
	        			<p>
	        				When critical structural and civil engineering is needed, George Allman III, PE can review, calculate and provide stamped approval for any project.
	        			</p>
	        			<a href="/services"><span>&nbsp;</span></a>
	        		</div>
	        		<div>	        			
	        			<h2>Timber Frames</h2>
	        			<p>
	        				Since 1978 Timbersmiths has led the revival of timber frame technology in central Virginia, bringing you the finest Timber Frames available at a reasonable cost.
	        			</p>
	        			<a href="/products/timberframes"><span>&nbsp;</span></a>
	        		</div>
	        		<div>	        			
	        			<h2>Custom Woodworking</h2>
	        			<p>
	        				Timbersmiths can handcraft any design and architectural element to enhance any project. 
	        			</p>
	        			<a href="/services"><span>&nbsp;</span></a>
	        		</div>
	        	</div>
	        	<div style="clear:both"></div>
	        	<div id="bottomfooter">
	        		<div class="shadow"></div>
	        		<div class="transparent">
	        			<div class="border"></div>
	        		</div>
	        		<div class="footerBox">
	        			<h2>Contact Us</h2>
	        			<p>
	        				<img src="/images/PhoneIcon.png"/>
	        				<span>(540) 832-3988</span>
	        			</p>
	        			<p>
	        				<img src="/images/EmailIcon.png"/>
	        				<span><a href="mailto:pablo@timbersmiths.com">pablo@timbersmiths.com</a></span>
	        			</p>
	        			<p>
	        				<a href="http://www.facebook.com/TimbersmithsInc"><img src="/images/FacebookIcon.png"/></a>
	        				<span><a href="http://www.facebook.com/TimbersmithsInc">Like us on facebook!</a></span>
	        			</p>
	        		</div>
	        		<div class="footerBox">
	        		</div>
	        		<div class="footerBox">
	        			<div style="padding-top:210px;margin-left:20px">
						</div>
	        		</div>
	        	</div>
	        </div>