<div id="header">
    <div id="logo">
    </div>
    <div style="clear:both"></div>
    <div id="nav">
        <ul>
            <a href="/">
                <li class="Home"></li>
            </a>
            <a href="/about-us">
                <li class="AboutUs"></li>
            </a>
            <a href="/products/timberframes">
                <li class="TimberFrames"></li>
            </a>
            <a href="/products">
                <li class="Products"></li>
            </a>
            <a href="/services">
                <li class="Services"></li>
            </a>
            <a href="/gallery">
                <li class="Gallery"></li>
            </a>
            <a href="/contact">
                <li class="Contact"></li>
            </a>
        </ul>
    </div>
</div>