<head>
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <link rel="stylesheet" media="screen" href="/css/main.css">
    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
    <link href='http://fonts.googleapis.com/css?family=PT+Serif' rel='stylesheet' type='text/css'>
    <script src="/js/jquery-1.7.1.min.js" type="text/javascript"></script>
    <script src="/js/jqFancyTransitions.1.8.min.js" type="text/javascript"></script>
    <script src="/js/galleria-1.2.7.min.js" type="text/javascript"></script>
    <script src="http://www.google.com/jsapi"></script>
    <script>google.load("swfobject", "2.2");</script>
    <script type="text/javascript">
    $(document).ready(function() {
            $('#photoHolder').jqFancyTransitions({ width: 918, height: 321, delay: 10000 });
    });
    </script>
</head>