<html>
{{ partial "head.html" . }}

<body>
    <div id="container">
        {{ partial "header.html" . }}
        <div id="content">
            <script>
                $(document).ready(function () {
                    var base = "/uploads/";
                    var web = '-web.jpeg';
                    var thumb = '-thumb.jpeg';
                    var big = '-big.jpeg';
                    var data = [];
                    {{ range.Params.galleryPhotos }}
                    data.push({
                        image: base + '{{ .image }}' + web,
                        thumb: base + '{{ .image }}' + thumb,
                        big: base + '{{ .image }}' + big,
                        title: '{{ .title }}',
                        description: '{{ .description }}'
                    });
                    {{ end }}
                    Galleria.loadTheme('/js/galleria.classic.min.js');
                    Galleria.run('#galleria', {
                        dataSource: data,
                        extend: function (options) {
                            // listen to when an image is shown
                            this.bind('image', function (e) {
                                // lets make galleria open a lightbox when clicking the main image:
                                $(e.imageTarget).click(this.proxy(function () {
                                    this.openLightbox();
                                }));
                            });
                        }
                    });
                });
            </script>
            <div id="galleria">
                <div class="galleria-container notouch" style="width: 960px; height: 720px;">
                    <div class="galleria-stage">
                        <div class="galleria-images"
                            style="position: relative; top: 0px; left: 0px; width: 100%; height: 100%;">
                            <div class="galleria-image"
                                style="overflow: hidden; position: absolute; top: 0px; left: 0px; transition: none 0s ease 0s; opacity: 0; z-index: 0;">
                                <div class="galleria-layer" style="position: absolute; inset: 0px; z-index: 2;"></div>
                            </div>
                            <div class="galleria-image"
                                style="overflow: hidden; position: absolute; top: 0px; left: 0px; opacity: 1; width: 940px; height: 650px; transition: none 0s ease 0s; z-index: 1;">
                                <div class="galleria-layer"
                                    style="position: absolute; inset: 12px 0px 0px; z-index: 2; display: none; width: 940px; height: 627px;">
                                </div>
                            </div>
                        </div>
                        <div class="galleria-loader" style="display: none; opacity: 0.4;"></div>
                        <div class="galleria-counter" style="opacity: 0; transition: none 0s ease 0s;"><span
                                class="galleria-current">1</span> / <span class="galleria-total">34</span></div>
                        <div class="galleria-image-nav">
                            <div class="galleria-image-nav-right" style="right: -50px; transition: none 0s ease 0s;">
                            </div>
                            <div class="galleria-image-nav-left" style="left: -50px; transition: none 0s ease 0s;">
                            </div>
                        </div>
                    </div>
                    <div class="galleria-thumbnails-container galleria-carousel">
                        <div class="galleria-thumb-nav-left disabled"></div>
                        <div class="galleria-thumbnails-list" style="overflow: hidden; position: relative;">
                            <div class="galleria-thumbnails" style="overflow: hidden; position: relative; width: 1717px; height: 42px;">
                                
                            </div>
                        </div>
                        <div class="galleria-thumb-nav-right"></div>
                    </div>
                    <div class="galleria-info" style="display: none;">
                        <div class="galleria-info-text">
                            <div class="galleria-info-title" style="display: none;"></div>
                            <div class="galleria-info-description" style="display: none;"></div>
                        </div>
                        <div class="galleria-info-link"></div>
                        <div class="galleria-info-close"></div>
                    </div>
                    <div class="galleria-tooltip" style="opacity: 0;"></div>
                </div>
            </div>
            <div style="clear:both"></div>

        </div>

        {{ partial "footer.html" . }}
    </div>
</body>

</html>